<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="contents">
    <div class="header">
      <h1 class="title">rabbit</h1>
      <ul class="headerMenu onlyPC">
        <li class="calendar"><a href="/calendar" data-test="header-link-attend">練習日程</a></li>
        <li class><a href="/attendance" data-test="header-link-attend">出欠登録</a></li>
        <li class><a href="/movie" data-test="header-link-attend">映像館</a></li>
        <li class><a href="/bbs" data-test="header-link-attend">BBS</a></li>
        <li class><a href="/tournament" data-test="header-link-attend">大会</a></li>
        <li class><a href="/others" data-test="header-link-attend">その他情報</a></li>
      </ul>
    </div>
    <!--<h1>rabbit</h1>-->
    <img src="/img/logo1.jpg" alt="rabbitロゴ" class="logo">
    <p class="paragraph">rabbitは2022年11月に発足したソフトバレーボールサークルです。<br>SUNSETのOBOGで気軽にソフトバレーを楽しみましょう!!</p>
    <!--<h2><a href="/about" data-test="header-link-attend">rabbitについて</a></h2>-->
  </div>
</body>
</html>