<div class="main top-main">
    <div class="top-message">
      <h1 data-test="heading">rabbitのホームページにようこそ!</h1>
      <p data-test="paragraph">enjoy softvolley!!</p>
      <h2><a href="/about" data-test="header-link-attend">rabbitについて</a></h2>
      <h2><a href="/attendance" data-test="header-link-attend">出欠登録</a></h2>
      <h2><a href="/eizoukan" data-test="header-link-attend">映像館</a></h2>
      <h2><a href="/bbs" data-test="header-link-attend">BBS</a></h2>
    </div>
</div>